@import "../../global";


.list{
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.7s ease;

  &.active{
    background-color: $mainColor;
    color: white;

  }

}